@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

ul,
ol,
li {
   list-style: none;
}

.custom-container {
   @apply max-w-[1728px] mx-auto px-32 max-3xl:px-16 max-lg:px-5 max-sm:px-4;
}

.no-scroll::-webkit-scrollbar {
   display: none;
}

.text-white-gradient {
   background: linear-gradient(
      181deg,
      #000 40.97%,
      rgba(255, 255, 255, 0) 99.23%
   );
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.gradient {
   @apply w-[908.452px] h-[884.847px] absolute z-[-1] -bottom-1/2 left-1/2 -translate-x-1/2;

   border-radius: 908.452px;
   background: radial-gradient(
      50% 50% at 50% 50%,
      #5334aa 0%,
      #26145d 56.5%,
      #010018 100%
   );
}
