@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

ul,
ol,
li {
   list-style: none;
}

.custom-container {
   @apply max-w-[1728px] mx-auto px-32 max-3xl:px-16 max-xl:px-5 max-sm:px-[15px];
}

.gradient {
   border-radius: 908.452px;
   background: radial-gradient(
      50% 50% at 50% 50%,
      #5334aa 0%,
      #26145d 56.5%,
      #010018 100%
   );
}
