@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   /* border: 2px black solid; */
}

ul,
ol,
li {
   list-style: none;
}

::-webkit-scrollbar {
   width: 6px;
}

::-webkit-scrollbar-track {
   background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
   background-color: #888;
   border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
   background-color: #555;
}

body {
   overflow-x: hidden !important;
   scroll-behavior: smooth;
}

.custom-container {
   @apply max-w-[1728px] mx-auto px-32 max-3xl:px-16 max-lg:px-5 max-sm:px-4;
}

h2 {
   @apply text-5xl max-xl:text-4xl max-sm:text-3xl leading-normal font-bold;
   /* rgba(21, 31, 225, 1)
rgba(21, 31, 225, 0.55)
rgba(21, 31, 225, 0.4)
rgba(21, 31, 225, 0.4) */
}

.hero-gradient {
   background: linear-gradient(
      180deg,
      rgba(1, 0, 24, 0.56) 0%,
      #010018 24%,
      #010018 100%
   );
}

.hero-img-gradient {
   background: linear-gradient(
      180deg,
      #02011900 0%,
      #02011900 77.5%,
      #020118 100%
   );
}

.swiper-wrapper {
   padding: 15px 0 !important;
}

.no-scroll::-webkit-scrollbar {
   display: none;
}

.text-white-gradient {
   background: linear-gradient(
      181deg,
      #000 40.97%,
      rgba(255, 255, 255, 0) 99.23%
   );
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.gradient {
   @apply w-[908.452px] h-[884.847px] absolute z-[-1] -bottom-1/2 left-1/2 -translate-x-1/2;

   border-radius: 908.452px;
   background: radial-gradient(
      50% 50% at 50% 50%,
      #5334aa 0%,
      #26145d 56.5%,
      #010018 100%
   );
}

.scroll-animated {
   width: 100%;
}
.scroll-animated:nth-child(1) {
   @apply w-[100%];
   top: 20px;
}
.scroll-animated:nth-child(2) {
   @apply w-[100%];
   @apply top-16 max-sm:top-10;
}
.scroll-animated:nth-child(3) {
   @apply w-[100%];
   @apply top-40 max-sm:top-16;
}
.scroll-animated:nth-child(4) {
   @apply w-[100%];
}
